@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-1">
        Menu here?

    </div>
    <div class="col-md-11" ng-view>
    </div>
</div>

@*<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>

<script src="~/App/HexMaps/ModelTypes.js"></script>
<script src="~/App/HexMaps/Calculations.js"></script>
<script src="~/App/HexMaps/HexMapModule.js"></script>
<script src="~/App/app.js"></script>*@

@Scripts.Render(
        "~/Scripts/angular.js",
        "~/Scripts/angular-route.js",
        "~/App/HexMaps/ModelTypes.js",
        "~/App/HexMaps/Calculations.js",
        "~/App/HexMaps/HexMapModule.js",
        "~/App/app.js");