@using Microsoft.AspNet.Identity
@using HexCrawlManager.Models
@{
    ViewBag.Title = "Home Page";
}

@*<span>The user info: @(User.Identity.IsAuthenticated ? User.Identity.GetUserId() : "Not logged in") }</span>*@
<div class="row">
    @if (this.User.Identity.IsAuthenticated)
    {
        <div class="col-md-2">
            <span style="font-weight:bold">Member Games</span>
            <ul>
                @foreach (Game game in this.ViewBag.Games)
                {
                    <li>@Html.ActionLink(game.Name, "Play/" + game.ID + "/", "Games")</li>
                }
            </ul>
            <span>Menu and stuff</span>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <span>Log in for your games</span>
            <span>Menu and stuff</span>
        </div>
    }
    <div class="col-md-8">
        <h2>Big site news and stuff!!!</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>The highlights section!!</h2>
    </div>
</div>
